<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XTranslation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <XTranslation.Properties.Settings>
            <setting name="TopTransWnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WndPenetrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BgColor" serializeAs="String">
                <value>#88000000</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ReszieBarColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="Translation_From" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Translation_To" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fontsize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TransWndWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TransWndHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TransWndTB_Width" serializeAs="String">
                <value>247.5</value>
            </setting>
            <setting name="TransWnd_Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TransWnd_Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClosePage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Translation_Platform" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaiDu_Id" serializeAs="String">
                <value />
            </setting>
            <setting name="BaiDu_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="YouDao_Id" serializeAs="String">
                <value />
            </setting>
            <setting name="YouDao_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="HuoShan_Id" serializeAs="String">
                <value />
            </setting>
            <setting name="HuoShan_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Tencent_Id" serializeAs="String">
                <value />
            </setting>
            <setting name="Tencend_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="CaiYun_Id" serializeAs="String">
                <value />
            </setting>
            <setting name="CaiYun_Key" serializeAs="String">
                <value />
            </setting>
        </XTranslation.Properties.Settings>
    </userSettings>
</configuration>